<h1>All pets</h1>
<h3><%= link_to "Start an Application", "/applications/new" %></h3>

<%= form_with url: "/pets", method: :get, local: true do |f| %>
  <%= f.label :search %>
  <%= f.text_field :search %>
  <%= f.submit "Search" %>
<% end %>


<% @pets.each do |pet| %>
  <%= render partial: 'pet_stats', locals:{pet: pet} %>
<% end %>
