<h1><%= @application.name %></h1>
<h3><%= "Address: #{@application.address}, #{@application.city} #{@application.state}, #{@application.zip}" %></h3>
<h3><%= "Reason For Applying: #{@application.description}" %></h3>

<h3>Dogs Applied For: </h3>
<div class="pets">
  <% @application.pet_applications.each do |pet_app| %>
    <div class=<%= "pet_#{pet_app.id}" %>>
      <p><%= link_to "#{pet_app.pet.name}", "/pets/#{pet_app.pet.id}" %></p>
      <% if pet_app.status == "Pending" %>
        <% if pet_app.already_approved? %>
          <p>Sorry, this pet has already been approved for adoption</p>
        <% else %>
          <%= form_with url: "/admin/pet_applications/#{pet_app.id}", method: :patch, local: true do |f| %>
            <%= f.hidden_field :status, :value => "Approved"%>
            <%= f.submit "Approve" %>
          <% end %>
        <% end %>

        <%= form_with url: "/admin/pet_applications/#{pet_app.id}", method: :patch, local: true do |f| %>
          <%= f.hidden_field :status, :value => "Rejected"%>
          <%= f.submit "Reject" %>
        <% end %>
      <% else %>
        <p><%= pet_app.status %></p>
      <% end %>
    </div>
  <% end %>
</div>

<br>
<h3><%= "Application Status: #{@application.status}" %></h3>
