<h1><%= @sql_shelter_name %></h1>
<h3><%= @sql_shelter_city %></h3>
<h3>Statistics:</h3>
<p><%= "Average age of adoptable pets in this shelter is #{@shelter.avg_age}"%></p>
<p><%= "There are #{@shelter.adoptable_pets} adoptable pets in this shelter" %></p>
<p><%= "#{@shelter.adopted_pets} pets have been adopted from this shelter" %></p>
